.center {
  position: absolute;
  top: 25%;
  left: 35%;
  transition: 2s;
  text-align: center;
}

.cover {
  width: 30px;
  height: 30px;
  display: inline-block;    
}

.query {
  color: grey;
}

#artistsFound {
  float: left;
  text-align: left;
  font-weight: bold;
  width: 50%;
  height: auto;
}

#albumsFound {
  float: right;
  text-align: left;
  font-weight: bold;
  width: 50%;
  height: auto;
}

body {
  padding: 2rem;
  height: 100%;
  overflow: hidden;
}

input {
  font-size: 1.6rem;
  border-radius: 0.2rem;
  font-family: Verdana;
  color: green;
}

.goUp {
  position: absolute;
  top: 10%;
  left: 35%;
  transition: 1s;
  text-align: center;
}