<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="us2.css">
  <title>Artist Page</title>
</head>
<body>

  <p>Enter the ID of the band or artist</p>
  <input type="text" id="band" value="0OdUWJ0sBjDrqHygGUXeCF">
  <button id="search" >Search Artist</button>

  <body ng-app="MyApp">
    <div ng-controller="dataCtrl">
      <ul>
        <li>
          <img ng-src="{{data.images[1].url}}" >
          <h3>Name:{{data.name}}</h3>
          <p>Pupularity:{{data.popularity}}</p>

          <p>Genres:</p>
          <p ng-repeat="genres in data.genres track by $index"> {{genres}}</p>


        </li>
      </ul>

    </div>

    <hr>

    <div ng-controller="MostrarOcultar">

      <button ng-show="show" ng-click="Mostrar()" id="showAlbums" >Show Albums!</button>
      <button ng-hide="show" ng-click="Ocultar()" id="hideAlbums" >Hide Albums.</button>


      <div ng-hide="show" ng-controller="showAlbumCtrl">
        <h1>Results for Albums:</h1>

        <div ng-repeat="album in albums">

          <img ng-src="{{album.images[2].url}}" alt="">
          <p>Name:   {{album.name}} </p>

        </div>
      </div>

    </div>


    <div ng-controller="MostrarOcultar">


      <button ng-show="show" ng-click="Mostrar()" id="showRelatedArtists" >Show Related Artists!</button>
      <button ng-hide="show" ng-click="Ocultar()" id="hideRelatedArtists" >Hide Related Artists.</button>

      <div ng-hide="show" ng-controller="showRelatedCtrl">
        <h1>Results for Related artists:</h1>

        <div ng-repeat="artist in artists">

          <img ng-src="{{artist.images[3].url}}" alt="">
          <p>Name:   {{artist.name}} </p>

        </div>

      </div>     

    </div>


  </body>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
  <script src="us2_js.js"></script>
</body>
</html>