
  <div id="searchWrapper">
    <header class='center' ng-class="{goUp: query}">
      <h1 class="lobster">Searchify</h1>
      <h2 class="raleway">Where people meets music.</h2>
      <form name="searchForm">
        <div id="searchBox">          
          <input ng-model="query" autofocus ng-change="request()" name="input" type="text" class="form-control raleway" placeholder="Enter an album or artist"/>
        </div>
      </form>
    </header>      
 
    <section id="results" class="gallery-grid" ng-show="query" >
      <section id="artistsFound" ng-show="results.artists.items" class="one-half">
        <h3 class="raleway">Artists found</h3>
          <div ng-repeat="result in results.artists.items" class="one-third">
           <div ng-if="result.images.length!='0'">
            <a href="#/us2/{{result.id}}"><img ng-src="{{result.images[0].url}}" class="cover"></a>
           </div>
           <div ng-if="result.images.length=='0'">
           <a href="#/us2/{{result.id}}"> <img ng-src="http://upload.wikimedia.org/wikipedia/commons/a/aa/Empty_set.svg" class="cover"></a>
           </div>
              <div class="screen fade-in">
                <span class="description montserrat">{{ result.name }}</span>
              </div>
          </div>
      </section>
 
      <section id="albumsFound" ng-show="results.albums.items" class="one-half">
        <h3 class="raleway">Albums found</h3>
          <div ng-repeat="result in results.albums.items" class="one-third">
            <div ng-if="result.images.length!='0'">
              <a href="#/us5/{{result.id}}"><img ng-src="{{result.images[0].url}}" class="cover"></a>
             </div>
             <div ng-if="result.images.length=='0'">
              <img ng-src="http://upload.wikimedia.org/wikipedia/commons/a/aa/Empty_set.svg" class="cover">
             </div>
              <div class="screen fade-in">
                <span class="description montserrat">{{ result.name }}</span>
              </div>
          </div>
      </section>
 
    </section>    
  </div>
