<body >
    <header>
      <h1>
      Album's page
      <h1>
    </header>
    <span>
      <section id ="contentalbum" >
        <h2>#Your selected album</h2>
        <div id="container">
          <ul>
            <li>
              <p>Name: {{album.name}} </p>
            </li>
            <div ng-repeat="artist in album.artists">
              <li >Artist(s): <a href="#/us2/{{artist.id}}">  {{artist.name}} </a></li>
            </div>
            <li>
              Genre: 
              <div ng-if="album.genres.length=='0'">
                Genre not found
              </div>
              <div ng-if="album.genres.length!='0'">
                {{album.genres}}}
              </div>
            </li>
            <li> <img id="image" ng-src="{{album.images[0].url}}" alt=""> </li>
            <li> Popularity: {{album.popularity}} </li>
            <li>Release date: {{album.release_date | date}}</li>
          </ul>
        </div>
      </section>
      <section  id="trackcontent">
        <h2>Track List:</h2>
        <ul ng-repeat="track in tracks">
          <li>
            <p>{{track.track_number}} {{track.name}} </p>
            <ul>
              <li>
                <p>Disc number:{{track.disc_number}}  </p>
                <p>Duration: {{track.duration_ms | date : 'mm:ss'}} </p>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </span>  
  </body>
</html>